---
title: Kristian Walker
---
<!-- header -->
{% include header-meta_project.html %} 
<!-- project specific meta data-->

<!-- insert project specifi head properties -->
<!--
<link rel="stylesheet" type="text/css" href="style.css" />
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</head>
<div id="page-wrapper">
<body>
-->
<link rel="stylesheet" type="text/css" href="style.css" />
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="main.js"></script>

</head>
<div id="page-wrapper">
<body>


{% include header.html %}

<div class="box-spacer_m"></div>

<div class="box-spacer_l"></div>
<div id="search-con" class="search-con_nosearch">
    
  <h3> Wiki Search Viewer v1.0 </h3>

    <form id="search">
      <input type="search" placeholder="Search">
    </form>

    <a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank" class="random-button">Click For Random Article</a>

 </div>

<div id="content-con">
  <div id="content-con_inner">
  </div>
</div>



{% include footer.html %}